.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
}

@media screen and (max-width: 600px) {
  .App {
    padding-bottom: 3500px;
  }
}

@media screen and (max-width: 840px) {
  .App {
    padding-bottom: 500px;
  }
}

html {
  color: #383739;
  background: linear-gradient(to right, #ecf6f9, #f5fafc);
}

.App h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  line-height: 10px;
}

.App p, a {
  font-family: 'Raleway', sans-serif;
}

.App strong {
  font-weight: 600;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cities-container a {
  text-decoration: none;
}

.textbox {
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  margin: 0px 10px 15px 0px;
}

.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  width: 150px;
  border-radius: 4px;
  background-color: #A1D6E2;
  color: #383739;
  transition: .4s ease;
}

.button:hover {
  background-color: #F1F1F2;
}

.City {
  padding: 15px;
}

.CityForecastItem {
  margin: 20px 50px;
}

.CityWeatherItem {
  min-width: 200px;
  padding: 5px 10px;
  margin: 5px 15px;
  background-color: #A1D6E2;
  color: #383739;
  transition: .4s ease;
}

.CityWeatherItem:hover {
  background-color: #1995AD;
  color: #F1F1F2;
}

.CityForecastsContainer a {
  text-decoration: none;
  transition: .4s ease;
  border: 1px solid #1995AD;
  border-radius: 4px;
  padding: 8px 20px;
  background-color: #f5fafc;
  color: #383739;
}

.CityForecastsContainer a:hover {
  color: #1995AD;
  background-color: #F1F1F2;
}

.carousel-container {
  display:block;
  overflow:hidden;
  margin: 0px 50px 15px 50px;
}

.forecast-container {
  display:block;
  width: 100%;
  background: #FCFCFC;
  overflow-x: scroll;
  padding: 15px;
  white-space: nowrap;
  border-top: 2px solid #1995AD;
}

.forecast-item {
  /*padding: 0px 25px 10px;
  width: 150px;*/
  display: inline-block;
  width: 150px;
  margin: 0px 10px;
  position:relative;
}

.scroll {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  /*float: left;*/
  width: 5px;
  padding: 0px;
  margin: auto;
}

.graph-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.forecast-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.CityForecastWeatherItem {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 120%;
}

.custom-tooltip {
  background-color: #fff;
  padding: 2px 10px;
  line-height: 8px;
  font-size: 14px;
  border-color: #e7eaee;
  border-width: 2px;
  border-style: solid;
}

.temp {
  color: #1995AD
}

.pressure {
  color: #A1D6E2
}

.clouds {
  color: #BCBABE
}

.Footer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0 ;
  right: 0;
  width: 100%;
  background: #1995AD;
  color: white;
}

.Footer a {
  text-decoration: none;
  color: #383739;
  transition: .4s ease;
  font-weight: bold;
}


.Footer a:hover {
  color: #FFF;
}

.footer-column {
  padding: 10px;
  width: 400px;
  text-align: center;
}