.App {
  text-align: center;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.City {
  padding: 15px;
}

.CityForecastItem {
  margin: 20px 50px;
}

.CityWeatherItem {
  margin: 10px 25px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
}

.forecast-item {
  padding: 0px 25px 10px;
}

.forecast-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}