.App {
  text-align: center;
}

.cities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.City {
  padding: 15px;
}

.CityForecastItem {
  margin: 20px 50px;
}

.CityWeatherItem {
  margin: 10px 25px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
}

.forecast-item {
  padding: 0px 25px 10px;
  width: 150px;
}

.forecast-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.CityForecastWeatherItem {
  margin-left: 5%;
  margin-right: 5%;
}

.custom-tooltip {
  background-color: #fcfcfd;
  padding: 2px 10px;
  line-height: 8px;
  font-size: 14px;
  border-color: #e7eaee;
  border-width: 2px;
  border-style: solid;
}

.temp {
  color: #3e4a69
}

.pressure {
  color: #75869f
}

.clouds {
  color: #bababa
}